

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .outline{
    width: 64px;
    height: 64px;
    mix-blend-mode: difference;
    border-radius: 100%;
    border: 1px solid #fff;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    position: fixed;
    pointer-events: none;
    left: 0px;
    top: 0px;
    z-index: 999999;
    transform: translate(-64px, -64px);
    border: 1px solid #fff;
  }

  .cursor{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #fff;
    opacity: .8;
    position: fixed;
    left: 0px;
    top: 0px;
    pointer-events: none;
    z-index: 999999;
    transform: translate( 50vw, -100px );
  }

  .outline.hover{
    width: 128px;
    height: 128px;
    background-color: #ff375f;
    border-color: #ff375f;
  }

  .outline.hover::after{
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url('img/cursor.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .cursor.hover{
    opacity: 0;
  }

  @media screen and (max-width: 768px) {
    .cursor,
    .outline {
        display: none;
    }
}


body{
    height: 100vh;
    width: 100vw;
    background-image: url(./ImmaginiAnime/uomoAnime2.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    
    
}

body, a, button {
    cursor: none;
}

h2{
    position: relative;
    font-size: 2em;
    letter-spacing: 10px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
    line-height: 0.7em;
    outline: none;
    animation: neon 5s linear infinite;

}

@keyframes neon {
    0% { color: #0e3742; } /* Colore di partenza */
    50% { color: red; } /* Colore del LED acceso */
    100% { color: #0e3742; } /* Colore di partenza */
}


/*navbar*/

.animate__fadeInDown{
    display: inline-block;
    margin: 0 0.5rem;
    animation-duration: 1s; /* don't forget to set a duration! */
  }


.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin: 10px;
    position: relative;
    text-decoration: none;
    color: #000; /* Colore del testo normale */
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Spessore della linea sottostante */
    bottom: -3px; /* Posizione della linea rispetto al testo */
    left: 0;
    background-color: transparent; /* Colore della linea normale */
    transition: background-color 0.3s ease; /* Transizione animata */
}

.link:hover::after {
    background-color: #000; /* Colore della linea al passaggio del mouse */
}


/*card*/

.card:hover {
    transform: scale(1.05); /* Aumenta leggermente le dimensioni della card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Aggiunge una leggera ombra */
    background-color: gray;
    
  }

.carousel-item img {
    max-height: 700px; /* Imposta l'altezza massima dell'immagine */
    width: auto; /* Imposta la larghezza automaticamente per mantenere le proporzioni */
}

.carousel {
    max-width: 650px; /* Imposta la larghezza massima del carousel */
}



.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

#min{
    text-align: center;
}

/*Footer*/

html,
body,
img,
figure {
    max-width: 100%
}

html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.ct-u-paddingTop10 {
    padding-top: 10px !important
}

.ct-footer {
    background-color: rgb(253, 253, 253);
    padding-top: 70px;
    margin-top: 20px;
    position: relative;
}

.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px; 
    border-bottom: black;
    border-bottom: black;
}

@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}

@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}

.ct-footer-pre span {
    color: black;
    font-size: 30px
}

.ct-footer-pre .form-group {
    position: relative;
    margin: 0;
}

.ct-footer-pre .form-group:before,
.ct-footer-pre .form-group:after {
    content: '';
    display: table
}

.ct-footer-pre .form-group:after {
    clear: both
}

.ct-footer-pre .form-group input {
    border: black;
    background-color: #333;
    color: #fff;
    height: 50px;
    padding: 0 30px;
    margin: 0 5px;
    border-radius: 0 !important;
}

@media (min-width:480px) {
    .ct-footer-pre .form-group input {
        width: 331px
    }
}

.ct-footer-pre .form-group button {
    height: 50px;
    position: relative;
    width: 80px;
    padding: 0
}

@media (min-width:480px) {
    .ct-footer-pre .form-group button {
        top: -1px
    }
}

@media (max-width:479px) {
    .ct-footer-pre .form-group input {
        float: left;
        width: 70%;
        margin: 0
    }
    .ct-footer-pre .form-group button {
        float: left;
        width: 30%
    }
}

.ct-footer-list {
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width:479px) {
    .ct-footer-list {
        padding: 20px 0
    }
}

@media (min-width:1200px) {
    .ct-footer-list > li {
        width: 20%;
        display: table-cell;
        vertical-align: top
    }
    .ct-footer-list > li:last-child {
        width: 7%
    }
}

@media (min-width:768px) and (max-width:1199px) {
    .ct-footer-list > li {
        width: 33.3333%
    }
}

@media (min-width:480px) and (max-width:767px) {
    .ct-footer-list > li {
        width: 50%
    }
}

@media (max-width:479px) {
    .ct-footer-list > li {
        width: 100%;
        text-align: center
    }
}

@media (max-width:1199px) {
    .ct-footer-list > li {
        display: inline-block;
       
    }
}

.ct-footer-list > li .ct-footer-list-header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 30px
}

.ct-footer-list > li ul {
    list-style: none;
    padding-left: 0;
}

.ct-footer-list > li ul li a {
    color: black;
}

.ct-footer-list > li ul li a:hover {
    text-decoration: underline
}

.ct-footer-post {
    background: #000;
    padding: 30px 0;
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
    padding: 20px 0
}

.ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px;
}

.ct-footer-post a {
    color: #fff;
}

.ct-footer-post a:hover {
    text-decoration: underline
}

.ct-footer-post p {
    color: #fff;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

.ct-footer-meta {
    padding-top: 30px;
}

.ct-footer-meta .ct-socials {
    padding: 20px 0;
}

.ct-footer-meta .ct-socials li {
    padding: 0 3px
}

.ct-footer--with-button {
    padding-top: 150px
}

address {
    color: black;
    display: inline-block;
}

address span {
    font-weight: 600
}

address a {
    color: #fff;
}

address a:hover {
    text-decoration: underline
}

@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}



.btn.btn-motive {
    background-color: gray;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border-radius: 0px;
    
}

.btn.btn-motive:hover {
    background-color: rgba(80, 74, 74, 0.603);
}

.btn.btn-motive:hover:active {
    background-color: rgb(212, 93, 113);
}

.btn.btn-violet {
    color: white;
    background-color: rgb(212, 93, 113);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-violet:hover {
    background-color: #37376b;
}

.btn.btn-violet:hover:active {
    background-color: rgb(212, 93, 113)
}

.btn.btn-green {
    color: #fff;
    background-color: #43670f;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-green:hover {
    background-color: #36520c;
}

.btn.btn-green:hover:active {
    background-color: #314a0b
}

.btn.btn-red {
    color: #fff;
    background-color: #da2229;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-red:hover {
    background-color: #ae1b21;
}

.btn.btn-red:hover:active {
    background-color: #9d181e
}

.btn.btn-white {
    background-color: #fff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn.btn-white:hover {
    background-color: #d9d9d9;
}

.btn.btn-white:hover:active {
    background-color: #c9c9c9
    
}

.btn.btn-large {
    padding: 20px 50px;
    font-size: 30px;
    white-space: normal;
    border-radius: 0px;
}

@media (max-width:479px) {
    .btn.btn-large {
        padding: 20px 10px;
        line-height: .9;
        font-size: 26px;
        letter-spacing: -.2px
    }
}
.ct-mediaSection {
    background-attachment: fixed
}

.ct-section_header--type1 {
    color: #000;
    font-size: 115px;
    text-transform: uppercase;
}

@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}

.ct-section_header--type2 small {
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    left: -12px
}

.ct-section_header--type2 span {
    font-size: 115px;
    line-height: .8
}

.ct-section_header--type2 img {
    display: inline-block;
    
    position: relative;
    top: 15px;
    padding-right: 3px
}

.ct-section_header--type3 {
    text-align: center;
}

.ct-section_header--type3 small {
    font-size: 50px;
    padding: 15px 0;
    font-weight: 700;
    color: #fff;
    background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}

.ct-section_header--type3 span {
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: .85
}

@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}

.ct-section_header--type4 {
    text-align: center;
}

.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}

.ct-section_header--type4:after {
    clear: both
}

.ct-section_header--type4 small {
    font-size: 50px;
    color: inherit;
    font-weight: 700;
    display: block
}

.ct-section_header--type4 span {
    font-weight: 400;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    display: block;
    line-height: .7
}

@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}

.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}

@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}

.ct-section_header--type4 + p {
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}

